/* Structure */
.boolzap-container {
    width: 1200px;
}

.sidebar-contact {
    width: 350px;
    background-color: white;
}

.main-chat-content {
    background-image: url(../img/mine.jpg);
}

/* Messages */
.sent-message {
    background-color: green;
}

.received-message {
    background-color: white;
}




.contacts {
    height: 60px;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid rgb(185, 185, 185);
}

.avatar-side {
    width: 50px;
    height: 50px;
    clip-path: circle(50% at 50% 50%);
}

.my-img {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
}