/* Structure */
body {
    background-color: grey;
    background: linear-gradient(180deg, rgb(29, 124, 119) 15%, rgb(220, 222, 216) 15%);
    height: 90vh;
}

#root {
    width: 80vw;
    min-height: 500px;
    height: 90vh;
    max-height: 800px;
    min-width: 600px;
    max-width: 1600px;
}


.container-division {
    box-shadow:
        0px 0px 0.4px rgba(0, 0, 0, 0.02),
        0px 0px 0.9px rgba(0, 0, 0, 0.028),
        0px 0px 1.8px rgba(0, 0, 0, 0.035),
        0px 0px 3.1px rgba(0, 0, 0, 0.042),
        0px 0px 5.8px rgba(0, 0, 0, 0.05),
        0px 0px 14px rgba(0, 0, 0, 0.07);
    min-width: 100%;
}

/* SIDEBAR-CONTACTS */
.sidebar-contact {
    max-width: 350px;
    background-color: white;
    font-size: 0.9rem;
}


/* My contact */
.my-contact {
    background-color: #e7e7e7;
    height: 55px;
    border-right: 1px solid rgb(198, 198, 198);
    width: 350px;
}

.my-img {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
}

.my-icons {
    gap: 0.5rem;
    color: rgb(155, 155, 155);
}

/* Notification on/off */
.notification {
    background-color: #6dd7ff;
    height: 60px;
    font-size: 0.8rem;
}

.notification-icon {
    height: 40px;
    aspect-ratio: 1;
    background-color: white;
    clip-path: circle(50% at 50% 50%);
    font-size: 1.2rem;
    color: #6dd7ff;
}

.active-notification a {
    color: grey;
    font-size: 0.7rem;
}

.text-notification span {
    font-size: 0.8rem;
    margin: 0;
}

/* Search contact section */
.input-search-contact {
    background-color: #f2ebe6;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    width: 100%;
    color: #adaba9;
    font-size: 0.8rem;
}

.input-search-contact input {
    width: 100%;
    border: none;
}

.bg-white {
    background-color: white;
    width: 100%;
    padding: 0.3rem 1rem;
}

/* CONTACTS */
.contacts-container {
    max-height: 390px;
    overflow: auto;
}

.contacts {
    height: 60px;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
}

li {
    border-bottom: 1px solid rgb(210, 210, 210);
}

.avatar-side {
    width: 50px;
    height: 50px;
    clip-path: circle(50% at 50% 50%);
}

.last-access {
    font-size: 0.6rem;
    margin-top: 0.3rem;
}

/* MAIN SECTION */
.main-chat-content {
    background-image: url(../img/mine.jpg);
    height: 550px;
    overflow: auto;
    font-size: 0.8rem;
    width: 100%;
    min-width: 315px;
}


.head-contact {
    width: 100%;
    height: 55px;
    background-color: #e7e7e7;
}


.main-center {
    width: 100%;
    height: calc(100% - 55px - 55px);
    overflow: auto;
}


/* Foot */
.foot-message {
    background-color: #f2ebe6;
    width: 100%;
    height: 55px;
    padding: 0.5rem 1rem;
    gap: 1rem;
    color: rgb(121, 121, 121);
}

.insert-message {
    height: 35px;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.current-contact-img {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
}

.head-contact i {
    color: rgb(121, 121, 121);
}

.icon-current-contact {
    gap: 0.5rem;
}

input:focus {
    border: none;
    outline: none;
}


/* CHAT */
/* Messages */
.conversation {
    padding: 2rem;
    font-size: 0.8rem;
}

.sent {
    background-color: #c5fbaa;
    align-self: self-end;
}

.received {
    background-color: white;

}

.message-chat {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 250px;
}